<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.recipeTitle %> - 레시피 상세</title>
    <style>

        /* @font-face 선언 */
        @font-face {
            font-family: 'BMJUA';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'BMJUA', sans-serif;
            background-color: #A7E344;
            color: #333;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #2f4f4f;
        }

        p {
            font-size: 1.2em;
            margin-bottom: 20px;
            background-color: #fffcf4;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 1.5em;
            margin-top: 30px;
            color: #03a9f4;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fffcf4;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
            font-size: 1.2em;
            transition: all 0.3s;
        }

        li:hover {
            background-color: #03a9f4;
            transform: scale(1.05);
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            display: block;
            padding: 10px;
        }

        a:hover {
            color: #fff;
        }

        .ranking-title {
            font-family: 'BMJUA', sans-serif;
            font-size: 1.3em;
            color: #03a9f4;
            margin-bottom: 10px;
        }

        /* 메뉴 팝업 호버 디자인 */
        #menu-popup {
            position: fixed;
            right: 20px;
            bottom: 90px;
            color: #A7E344; /* 기본 글자 색상 */
            width: 130px;
            padding: 10px;
            font-family: 'BMJUA';
            text-align: center;
            border-radius: 15px;
            background: #ffffff; /* 기본 말풍선 색상 흰색 */
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s, background-color 0.4s;
        }

        #menu-popup:after {
            position: absolute;
            bottom: -15px;
            left: 100px;
            content: "";
            display: block;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid #ffffff; /* 기본 흰색 말풍선 아래쪽 삼각형 */
        }

        #menu-popup:hover {
            background-color: #A7E344; /* 호버 시 말풍선 배경 색상 변경 */
        }

        #menu-popup:hover:after {
            border-top: 20px solid #A7E344; /* 호버 시 말풍선 아래쪽 삼각형 색상 변경 */
        }

        /* 토글된 메뉴 보이기 */
        #toggle.on + #menu-popup {
            opacity: 1;
            visibility: visible;
        }

        .popup-link {
            border-radius: 10px;
            text-decoration: none;
            line-height: 1.0; /* 줄 간격 조정 */
            min-height: 40px; /* 버튼의 최소 너비 설정 */
            font-family: 'BMJUA';
            background-color: transparent;
            color: #A7E344; /* 기본 글자 색상 */
            font-size: 15px;
            padding: 15px 30px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
                        -2px -2px 5px rgba(255, 255, 255, 0.7); 
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: color 0.4s;
        }

        /* Hover 시 스타일 변경 */
        .popup-link:hover,
        .popup-link:focus {
            color: #ffffff; /* 호버 시 글자색 흰색 */
            background-color: transparent;
        }

    </style>
</head>
<body>
    <h1><%= recipe.recipeTitle %></h1>

    <h2>추천음식 YouTube 요리영상</h2>
    <ul>
        <li>
            <div class="ranking-title">유튜브 조회수 1순위 Recipe</div>
            <a href="<%= youtubeVideos[0].url %>" target="_blank"><%= youtubeVideos[0].title %></a>
        </li>
        <li>
            <div class="ranking-title">유튜브 조회수 2순위 Recipe</div>
            <a href="<%= youtubeVideos[1].url %>" target="_blank"><%= youtubeVideos[1].title %></a>
        </li>
        <li>
            <div class="ranking-title">유튜브 조회수 3순위 Recipe</div>
            <a href="<%= youtubeVideos[2].url %>" target="_blank"><%= youtubeVideos[2].title %></a>
        </li>
    </ul>

    <!-- 메뉴 팝업 -->
    <div id="menu-popup">
        <ul class="popup-ul">
            <li class="popup-li"><a href="#home" class="popup-link">재료추가</a></li>
            <li class="popup-li"><a href="http://127.0.0.1:8080/recipe" class="popup-link" id="recipe-link">남은재료<br>레시피</a></li>
            <li id="logout-button" style="display: none;" class="popup-li">
                <a href="#logout" class="popup-link" onclick="logout()">로그아웃</a>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#toggle').on('click', function () {
            $(this).toggleClass('on');
        });

        $('#logo').on('click', () => {
            $('html,body').animate({
                scrollTop: 0
            }, 500);
        });
    </script>
</body>
</html>
