<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '회원 정보' })%>
  <body>
    <h1>회원 정보</h1>
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/">HOME</a>
    <p>ID 수정 불가능, Password, Name 수정 가능</p>

    <!-- TODO: 각 input의 value 값을 로그인 한 사람의 정보로 채우기 -->
    <form name="form_profile">
      <label for="userid">ID</label>
      <input type="hidden" id="id" value="<%=data.id%>" />
      <!-- readonly: userid는 수정 불가능 (조건임) -->
      <input id="userid" type="text" name="userid" value="<%=data.userid%>" readonly /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" value="<%=data.pw%>" required /><br />
      <label for="name">Name</label>
      <input id="name" type="text" name="name" value="<%=data.name%>" required /><br />
      <button type="button" onclick="profileEdit();">Edit</button>
      <button type="button" onclick="profileDelete();">Delete</button>
    </form>

    <script>
      // TODO: [Login] 버튼 클릭시 서버에 회원 정보 수정 요청하기
      // POST /user/profile/edit
      function profileEdit() {
        console.log('click 수정 btn');
        const form = document.forms['form_profile'];
        axios ({
          method: 'PATCH',
          url: '/profile/edit',
          data: {
            id: form.id.value,
            pw: form.pw.value,
            name: form.name.value
          }
        }).then(res => {
        console.log(res.data);
        if (res.data.result) {
            alert('수정 완료');
          }
        });
      }

      // TODO: [Login] 버튼 클릭시 서버에 회원 정보 삭제 요청하기
      // POST /user/profile/delete
      function profileDelete() {
        if (!confirm('진짜로 삭제하겠습니까?')) { 
          return;
        } 
        axios({
            method: 'DELETE',
            url: '/profile/delete',
            data: {
                id: document.getElementById('id').value
            }
        })
        .then((res) => {
            console.log(res.data)
            if (res.data.result) {
                alert('회원정보 삭제 성공!');
                document.location.href = '/';
            }
        });
    };
    </script>
  </body>
</html>
